header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #03033f;
  transition: 0.8s;

  .header_content {
    @include flexBox;
    justify-content: space-between;
    padding: 20px 0;
    background-color: transparent;

    .logo {
      img {
        width: 150px;
      }
    }

    ul {
      @include flexBox;
      gap: 50px;

      .search {
        i {
          color: white;
          font-size: 20px;
        }
      }

      li {
        position: relative;
        line-height: 34px;

        &:hover {
          .nav_links {
            @include flexBox;
          }
        }

        a {
          color: $main-color;
        }
      }
    }

    .nav_links {
      position: absolute;
      display: none;
      width: 120px;
      border-radius: 10px;
      background-color: #fff;
      top: 100px;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      gap: 0;

      a {
        color: #000;
      }
    }
  }
}
