.mainSection,
.heroSection {
  position: relative;
  margin-bottom: 100px;

  .mainCover,
  .heroCover {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
  }

  .heroCover {
    height: 80vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 255, 0.384);
    z-index: -1;
  }

  .mainContent,
  .heroContent {
    @include flexBox;
    gap: 100px;
    height: 100%;
    color: $main-color;
    padding-top: 140px;

    h1 {
      @include textContent($main-color, $mainHeading, $semiBold-w7);
      margin-bottom: 10px;
    }

    h3 {
      @include textContent($main-color, $subtitle, $medium-w5);
      margin-bottom: 20px;
    }

    .paragraph {
      @include textContent($paragraph-color, $paragraph, $medium-w5);
      margin-bottom: 20px;
      max-width: 600px;
    }

    button {
      @include flexBox;
      @include textContent($main-color, $buttons, $medium-w5);
      background-color: $red-color;
      border: none;
      padding: 17px 24px;
      gap: 5px;
    }
  }

  .heroContent {
    display: block;
    width: 100%;
    padding-top: 200px;

    h3 {
      font-size: 32px;
      margin-bottom: 60px;
    }

    .searchForm {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        height: 50px;
        border-radius: 40px;
        border: none;
        outline: none;
        padding: 0 20px;
        font-size: 20px;
      }

      .searchBtn {
        position: absolute;
        height: 50px;
        border-radius: 25px;
        bottom: 0;
        right: -1px;
        font-size: 20px;
        @include linearGradient;

        &:hover {
          color: black;
        }
      }
    }
  }

  .mainImage {
    height: 600px;

    img {
      height: 100%;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  padding-bottom: 60px;

  button {
    color: #fff;
    padding: 20px 160px;
    background-color: #03033f;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 10px;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: #0d0d22;
    }
  }
}
