.card {
  width: 182px;
  height: 373px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 5px 2px rgba(180, 179, 179, 0.511);

  img {
    width: 100%;
    height: calc(100% - 100px);
  }

  .card-content,
  .movieInfo {
    position: relative;
    padding: 20px 15px 20px 5px;
    z-index: 0;

    h1 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      color: gray;
    }
  }
}

.precent {
  position: absolute;
  top: -33px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #081c22;

  .precentBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background-color: #ca1325;

    .precentColor {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45px;
      height: 45px;
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color: #081c22;
        z-index: 0;
      }
    }

    h3 {
      position: relative;
      display: flex;
      font-size: 14px;
      margin-left: 2px;
      color: white;

      span {
        font-size: 8px;
        transform: translate(2px, 0px);
      }
    }
  }
}
