.PersonSection {
  margin-top: 130px;

  h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .PersonCards {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;

    .personCard {
      width: 280px;

      img {
        object-fit: cover;
      }
    }
  }
}
