.ProductsSection {
  margin-top: 130px;

  .mainTitle {
    font-size: 28px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .productsContent {
    display: flex;
    align-items: start;
    gap: 60px;
  }

  .AllCards {
    @include flexBox;
    flex-wrap: wrap;
    justify-content: start;

    // align-content: start;
    gap: 20px;
  }

  .filterContent,
  .sortContent {
    width: 300px;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.164);
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    height: 100%;
    overflow: hidden;

    .title {
      @include flexBox;
      justify-content: space-between;
      font-weight: 700;
      cursor: pointer;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.207);
      margin-bottom: 20px;

      i {
        font-size: 22px;
        rotate: 0deg;
        transition: 0.1s;
      }
    }

    .filterForm,
    .otherCheckboxes {
      width: 100%;
      @include flexBox;
      flex-direction: column;
      align-items: start;
      gap: 10px;

      h2 {
        font-size: 18px;
        font-weight: 200;
        color: rgba(128, 128, 128, 0.612);
        margin-bottom: 15px;
      }

      .filterTitle {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.207);
        margin-bottom: 20px;
        width: 100%;
      }

      .radioGroup,
      .radioLabel {
        @include flexBox;
        flex-direction: column;
        align-items: start;
        justify-items: center;
        gap: 10px;

        .radioLabel {
          flex-direction: row;
          align-items: center;
        }
      }

      .datePicker {
        width: 100%;
        margin-top: 20px;

        div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 10px;
        }

        input {
          height: 40px;
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.156);
          outline: none;
          font-size: 16px;
        }
      }

      .allGenres {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .genreCheckbox {
          margin: 8px 0;

          input:checked ~ label {
            background-color: rgb(1, 180, 228);
            border: 1px solid rgb(1, 180, 228);
          }

          input {
            display: none;
          }

          label {
            padding: 6px 15px;
            border: 1px solid rgba(0, 0, 0, 0.334);
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: rgb(1, 180, 228);
              border: 1px solid rgb(1, 180, 228);
            }
          }
        }
      }

      .ReleaseDate {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
      }
    }

    .otherCheckboxes.hideCheckboxes {
      display: none;
    }
  }

  .languageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.207);
    margin-bottom: 30px;
    gap: 10px;

    select {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      padding: 10px;
      background-repeat: no-repeat;
      background-position: right center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      outline: none;
      font-size: 16px;
    }
  }

  .scoreScale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 103%;
    transform: translateY(5px);

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(128, 128, 128, 0.612);
    }
  }

  .sortContent {
    height: 0;
    margin-bottom: 20px;

    .title {
      i {
        rotate: 90deg;
        transition: 0.1s;
      }
    }

    .selectBox {
      margin-bottom: 20px;

      .selected-item {
        margin-top: 15px;
        width: 100%;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.203);
        background-color: transparent;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 10px;

        &::-ms-expand {
          display: none;
        }
      }

      .mySelect {
        position: relative;

        .selectIcon {
          position: absolute;
          top: 32px;
          right: 10px;
          font-size: 10px;
          z-index: 0;
        }
      }
    }
  }

  .show {
    height: 0;

    .title {
      i {
        rotate: 90deg;
      }
    }
  }

  .showSort {
    height: 100%;

    .title {
      i {
        rotate: 0deg;
      }
    }
  }

  .searchBtn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    font-size: 22px;
    background-color: rgba(128, 128, 128, 0.273);
  }
}

.filterForm.filterRage {
  padding: 0;
}

.double_range_slider_box {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .rangeInfo {
    background-color: black;
    color: white;
    height: 30px;
    position: absolute;
    top: -50px;
    padding-top: 8px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
    transition: all 1s ease;
    visibility: hidden;
    right: 0;
  }

  .rangeInfo.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
  }
}

.double_range_slider {
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: #dddddd;
  border-radius: 20px;
  bottom: 18px;
}

.range_track {
  height: 100%;
  position: absolute;
  border-radius: 20px;
  width: 20px;
  background-color: #95d564;
}

.minvalue {
  position: absolute;
  padding: 6px 15px;
  background: #0e5f59;
  border-radius: 1rem;
  color: white;
  bottom: 0;
  transform: translate(0, -100%);
  left: 0;
  font-size: 1rem;
  transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: left, transform;
}

.maxvalue {
  position: absolute;
  padding: 6px 15px;
  background: #0e5f59;
  border-radius: 1rem;
  color: white;
  top: 0;
  transform: translate(0, 100%);
  right: 0;
  font-size: 1rem;
  transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: right, transform;
}

.inputRange {
  position: absolute;
  width: 104%;
  height: 5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 50%;
  transform: translateY(-50%);
}

input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid rgba(1, 180, 288, 1);
  background-color: rgba(1, 180, 288, 1);
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 1px;
}

input[type="range"].inputRange:nth-of-type(1)::-webkit-slider-thumb {
  margin-left: -8px;
}
input[type="range"].inputRange:nth-of-type(2)::-webkit-slider-thumb {
  margin-left: -9px;
}

input::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid #cbffa3;
  background-color: #95d564;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 30%;
}

.showMore {
  width: 100%;
  height: 60px;
  margin-top: 40px;
  border: none;
  transition: 0.2s;

  &:hover {
    background-color: #5d18248f;
  }
}

.scrollToTop {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 80px;
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}
