/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  color: gray;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

body {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainOverlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.563);
  z-index: 1000;
}

@keyframes Slider {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #03033f;
  transition: 0.8s;
}
header .header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: transparent;
}
header .header_content .logo img {
  width: 150px;
}
header .header_content .navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header .header_content .navMenu .search i {
  cursor: pointer;
  color: white;
  font-size: 20px;
}
header .header_content .navMenu li {
  position: relative;
  line-height: 34px;
}
header .header_content .navMenu li:hover .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_content .navMenu li a {
  color: #fff;
}
@media only screen and (max-width: 800px) {
  header .header_content .navMenu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    width: 350px;
    height: 500px;
    background-color: white;
  }
  header .header_content .navMenu li a {
    color: black;
  }
  header .header_content .navMenu li i {
    color: black;
  }
}
header .header_content .mobileNav {
  display: none;
}
header .header_content .mobileNav .line {
  height: 2px;
  background-color: white;
  width: 20px;
}
header .header_content .mobileNav .line:not(:last-child) {
  margin-bottom: 5px;
}
header .header_content .mobileNav .line1 {
  animation: menuAnimate 1s infinite;
}
header .header_content .mobileNav .line3 {
  animation: menuAnimate 1s infinite 0.2s;
}
@keyframes menuAnimate {
  0% {
    width: 0px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
header .header_content .nav_links {
  position: absolute;
  display: none;
  width: 120px;
  border-radius: 10px;
  background-color: #fff;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 0;
  z-index: 20;
}
header .header_content .nav_links a {
  color: #000;
}
header .SearchForm {
  display: none;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}
header .SearchForm input {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 70px;
  font-size: 18px;
  outline: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
header .SearchForm .SearchBtn {
  position: relative;
  background-color: transparent;
  border: none;
  top: -35px;
  left: 40px;
}
header .SearchForm .SearchBtn .searchItem {
  color: black;
}
header .showSearch {
  display: block;
}

footer {
  background-color: rgb(3, 37, 65);
  padding: 60px 0 100px;
}
footer .footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  align-items: start;
  color: #fff;
  list-style: none;
}
footer .footer_content .logo {
  width: 150px;
}
footer .footer_content .logo img {
  width: 100%;
}
footer .footer_content .footer-nav h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
footer .footer_content .footer-nav li {
  margin-bottom: 10px;
}
footer .footer_content .footer-nav li a {
  color: rgba(255, 255, 255, 0.7607843137);
  transition: 0.3s;
}
footer .footer_content .footer-nav li a:hover {
  color: gray;
}

.ProductsSection {
  margin-top: 130px;
}
.ProductsSection .mainTitle {
  font-size: 28px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 40px;
}
.ProductsSection .productsContent {
  display: grid;
  grid-template-columns: 300px 3fr;
}
.ProductsSection .AllCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: end;
  gap: 20px;
}
.ProductsSection .filterContent,
.ProductsSection .sortContent {
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.164);
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}
.ProductsSection .filterContent .title,
.ProductsSection .sortContent .title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.207);
  margin-bottom: 20px;
}
.ProductsSection .filterContent .title i,
.ProductsSection .sortContent .title i {
  font-size: 22px;
  rotate: 90deg;
}
.ProductsSection .filterContent .filterForm h2,
.ProductsSection .sortContent .filterForm h2 {
  font-size: 18px;
  font-weight: 200;
  color: rgba(128, 128, 128, 0.612);
  margin-bottom: 15px;
}
.ProductsSection .filterContent .filterForm .radioGroup,
.ProductsSection .sortContent .filterForm .radioGroup {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.207);
  margin-bottom: 20px;
}
.ProductsSection .filterContent .filterForm .radioGroup,
.ProductsSection .filterContent .filterForm .radioLabel,
.ProductsSection .sortContent .filterForm .radioGroup,
.ProductsSection .sortContent .filterForm .radioLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  gap: 10px;
}
.ProductsSection .filterContent .filterForm .radioGroup .radioLabel,
.ProductsSection .filterContent .filterForm .radioLabel .radioLabel,
.ProductsSection .sortContent .filterForm .radioGroup .radioLabel,
.ProductsSection .sortContent .filterForm .radioLabel .radioLabel {
  flex-direction: row;
  align-items: center;
}
.ProductsSection .sortContent {
  height: 0%;
  margin-bottom: 20px;
}
.ProductsSection .sortContent .title i {
  rotate: 0deg;
}
.ProductsSection .sortContent .selectBox {
  margin-bottom: 20px;
}
.ProductsSection .sortContent .selectBox .selected-item {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.203);
  background-color: transparent;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
}
.ProductsSection .sortContent .selectBox .selected-item::-ms-expand {
  display: none;
}
.ProductsSection .sortContent .selectBox .mySelect {
  position: relative;
}
.ProductsSection .sortContent .selectBox .mySelect .selectIcon {
  position: absolute;
  top: 32px;
  right: 10px;
  font-size: 10px;
  z-index: 0;
}
.ProductsSection .show {
  height: 0%;
}
.ProductsSection .show .title i {
  rotate: 0deg;
}
.ProductsSection .showSort {
  height: -moz-max-content;
  height: max-content;
}
.ProductsSection .showSort .title i {
  rotate: 90deg;
}
.ProductsSection .searchBtn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 40px;
  font-size: 22px;
  background-color: rgba(128, 128, 128, 0.273);
}

.double_range_slider_box {
  position: relative;
  width: 500px;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.double_range_slider {
  width: 90%;
  height: 10px;
  position: relative;
  background-color: #dddddd;
  border-radius: 20px;
}

.range_track {
  height: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: #95d564;
}

.minvalue {
  position: absolute;
  padding: 6px 15px;
  background: #0e5f59;
  border-radius: 1rem;
  color: white;
  bottom: 0;
  transform: translate(0, -100%);
  left: 0;
  font-size: 1rem;
  transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: left, transform;
}

.maxvalue {
  position: absolute;
  padding: 6px 15px;
  background: #0e5f59;
  border-radius: 1rem;
  color: white;
  top: 0;
  transform: translate(0, 100%);
  right: 0;
  font-size: 1rem;
  transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: right, transform;
}

.card {
  width: 182px;
  height: 373px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 5px 2px rgba(180, 179, 179, 0.511);
}
.card img {
  width: 100%;
  height: calc(100% - 100px);
}
.card .card-content,
.card .movieInfo {
  position: relative;
  padding: 20px 15px 20px 5px;
  z-index: 0;
}
.card .card-content h1,
.card .movieInfo h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.card .card-content p,
.card .movieInfo p {
  font-size: 14px;
  color: gray;
}

.precent {
  position: absolute;
  top: -20px;
  left: 20px;
  color: white;
}
.precent .precentColor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.precent h3 {
  display: flex;
  font-size: 14px;
  margin-left: 2px;
}
.precent h3 span {
  font-size: 8px;
  transform: translate(2px, 0px);
}
.precent::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
}

.PersonSection {
  margin-top: 130px;
}
.PersonSection h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}
.PersonSection .PersonCards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .PersonSection .PersonCards {
    justify-content: center;
  }
}
.PersonSection .PersonCards .personCard {
  width: 280px;
}
.PersonSection .PersonCards .personCard img {
  -o-object-fit: cover;
     object-fit: cover;
}

.peaopleDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 50px;
  margin: 140px auto 40px;
  width: 100%;
}
.peaopleDetails .personalInfo img {
  border-radius: 20px;
  width: 400px;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
.peaopleDetails .personalInfo .knownFor,
.peaopleDetails .personalInfo .birthday,
.peaopleDetails .personalInfo .birthday {
  margin-bottom: 20px;
}
.peaopleDetails .personalInfo .knownFor h2,
.peaopleDetails .personalInfo .birthday h2,
.peaopleDetails .personalInfo .birthday h2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}
.peaopleDetails .personalInfo .knownFor h3,
.peaopleDetails .personalInfo .birthday h3,
.peaopleDetails .personalInfo .birthday h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.peaopleDetails .personalInfo .knownFor h4,
.peaopleDetails .personalInfo .birthday h4,
.peaopleDetails .personalInfo .birthday h4 {
  font-size: 18px;
  font-weight: 500;
}
.peaopleDetails img {
  width: 150px;
}
.peaopleDetails .peopleContent {
  overflow-x: hidden;
}
.peaopleDetails .peopleContent .peopleInfo h1,
.peaopleDetails .peopleContent .castSlider h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.peaopleDetails .peopleContent .peopleInfo h2,
.peaopleDetails .peopleContent .castSlider h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.peaopleDetails .peopleContent .peopleInfo p,
.peaopleDetails .peopleContent .castSlider p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.peaopleDetails .peopleContent .castSlider {
  margin-top: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.peaopleDetails .peopleContent .castSlider:hover .casts {
  animation-play-state: paused;
}
.peaopleDetails .peopleContent .castSlider .casts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: Slider 30s infinite 1s;
}
.peaopleDetails .peopleContent .castSlider .casts .castCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 300px;
  text-align: center;
  color: black;
}
.peaopleDetails .peopleContent .castSlider .casts .castCard img {
  border-radius: 5px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
.peaopleDetails .peopleContent .castSlider .casts .castCard span {
  font-size: 12px;
  line-height: 20px;
  margin-top: 5px;
}

.movieDetailsCard {
  position: relative;
  height: 100vh;
  color: #fff;
  margin-bottom: 340px;
}
.movieDetailsCard img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movieDetailsCard .movieCover {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.2) blur(2px);
}
.movieDetailsCard .movieContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
  height: 100%;
  padding: 80px 40px 0;
  z-index: 2;
}
.movieDetailsCard .movieContent .movieImg img {
  width: 350px;
  height: 450px;
  border-radius: 15px;
}
.movieDetailsCard .movieContent .movieInfo {
  position: relative;
}
.movieDetailsCard .movieContent .movieInfo h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}
.movieDetailsCard .movieContent .movieInfo h1 span {
  font-weight: 200;
  opacity: 0.8;
}
.movieDetailsCard .movieContent .movieInfo .movieDate {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-bottom: 40px;
  color: rgb(211, 198, 198);
}
.movieDetailsCard .movieContent .movieInfo .precentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 30px;
  position: relative;
  margin-bottom: 60px;
}
.movieDetailsCard .movieContent .movieInfo .precentBox .like-btn.precent {
  margin-left: 70px;
  top: -12px;
  cursor: pointer;
}
.movieDetailsCard .movieContent .movieInfo .precentBox .like-btn.precent i {
  padding: 10px;
  font-size: 20px;
}
.movieDetailsCard .movieContent .movieInfo .precentBox .like-btn.precent::after {
  width: 45px;
  height: 45px;
}
.movieDetailsCard .movieContent .movieInfo .precentBox .precent {
  top: 0px;
}
.movieDetailsCard .movieContent .movieInfo .precentBox .precent .precentColor {
  width: 60px;
  height: 60px;
}
.movieDetailsCard .movieContent .movieInfo .precentBox .precent::after {
  width: 70px;
  height: 70px;
}
.movieDetailsCard .movieContent .movieInfo .playTrailer {
  margin-bottom: 15px;
  width: 150px;
}
.movieDetailsCard .movieContent .movieInfo .playTrailer i {
  font-size: 22px;
}
.movieDetailsCard .movieContent .movieInfo .playTrailer button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border: none;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  transition: 0.3s;
}
.movieDetailsCard .movieContent .movieInfo .playTrailer button:hover {
  color: gray;
}
.movieDetailsCard .movieContent .movieInfo .tagline {
  font-size: 18px;
  color: rgb(175, 172, 172);
  margin-bottom: 15px;
  font-style: italic;
}
.movieDetailsCard .movieContent .movieInfo .overview,
.movieDetailsCard .movieContent .movieInfo .company {
  margin-bottom: 15px;
}
.movieDetailsCard .movieContent .movieInfo .overview h3,
.movieDetailsCard .movieContent .movieInfo .company h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.movieDetailsCard .movieContent .movieInfo .overview h4,
.movieDetailsCard .movieContent .movieInfo .company h4 {
  font-size: 18px;
  color: rgb(209, 188, 188);
  margin-bottom: 15px;
}
@media only screen and (max-width: 800px) {
  .movieDetailsCard .movieContent {
    flex-direction: column;
  }
  .movieDetailsCard .movieContent .movieImg {
    width: 100%;
  }
  .movieDetailsCard .movieContent .movieImg img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.movieDetailsCard .videoBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  z-index: 1000;
  border-radius: 20px;
  overflow: hidden;
}
.movieDetailsCard .videoBox iframe {
  width: 100%;
  height: 100%;
}
.movieDetailsCard .casts {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 90%;
  padding: 10px 40px;
  margin: 0 auto;
}
.movieDetailsCard .casts h1 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}
.movieDetailsCard .casts .castSlider {
  display: flex;
  gap: 10px;
  bottom: 0;
}
.movieDetailsCard .casts .castSlider .castBox {
  color: black;
}
.movieDetailsCard .casts .castSlider .castBox img {
  border-radius: 10px;
  width: 150px;
  height: 200px;
  margin-bottom: 5px;
}
.movieDetailsCard .casts .castSlider .castBox h2 {
  margin-bottom: 5px;
}
.movieDetailsCard .casts .castSlider .castBox p {
  color: rgba(128, 128, 128, 0.781);
}

.change {
  color: rgb(145, 0, 0);
}

.searchedContent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  justify-content: start;
  gap: 40px;
  margin-top: 130px;
}
.searchedContent .searchedCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.searchedContent .searchedCard .SearchedItems {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.238);
}
.searchedContent .searchedCard .SearchedItems img {
  height: 200px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.searchedContent .searchedCard .SearchedDesc span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.searchedContent .searchedCard .SearchedDesc h2 {
  font-size: 14px;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.527);
  margin-bottom: 20px;
}
.searchedContent .searchedCard .SearchedDesc p {
  font-size: 12px;
  max-width: 95%;
}
.searchedContent .SearchResults {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 15px;
  border: 1px solid rgba(128, 128, 128, 0.648);
}
.searchedContent .SearchResults .title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(1, 180, 228);
  padding: 20px 100px 20px 20px;
  margin-bottom: 15px;
}
.searchedContent .SearchResults .filteredContent .filterResult {
  cursor: pointer;
}
.searchedContent .SearchResults .filteredContent .filterResult :hover {
  background-color: rgba(123, 123, 123, 0.503);
}
.searchedContent .SearchResults .filteredContent .filterResult h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 5px 0;
}
.searchedContent .SearchResults .filteredContent .filterResult :not(:last-child) {
  padding-bottom: 20px;
}
.searchedContent .SearchResults .filteredContent .filterResult h1 span {
  display: block;
  padding: 5px 30px;
  background-color: rgb(232, 232, 232);
  border-radius: 20px;
}
.searchedContent .SearchResults .filteredContent .filterResult h1 span:hover {
  background-color: rgb(232, 232, 232);
}
.searchedContent .filterPara {
  margin-top: 30px;
  max-width: 270px;
  text-align: start;
}

.mainSection,
.heroSection {
  position: relative;
  margin-bottom: 100px;
  height: 80vh;
}
.mainSection .mainCover,
.mainSection .heroCover,
.heroSection .mainCover,
.heroSection .heroCover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mainSection .heroCover,
.heroSection .heroCover {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainSection .overlay,
.heroSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(3, 37, 65, 0.7);
  z-index: -1;
}
.mainSection .mainContent,
.mainSection .heroContent,
.heroSection .mainContent,
.heroSection .heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100%;
  color: #fff;
}
.mainSection .mainContent h1,
.mainSection .heroContent h1,
.heroSection .mainContent h1,
.heroSection .heroContent h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.mainSection .mainContent h3,
.mainSection .heroContent h3,
.heroSection .mainContent h3,
.heroSection .heroContent h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.mainSection .mainContent .paragraph,
.mainSection .heroContent .paragraph,
.heroSection .mainContent .paragraph,
.heroSection .heroContent .paragraph {
  color: rgba(255, 255, 255, 0.404);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 600px;
}
.mainSection .mainContent button,
.mainSection .heroContent button,
.heroSection .mainContent button,
.heroSection .heroContent button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  background-color: #fb1351;
  border: none;
  padding: 17px 24px;
  gap: 5px;
}
.mainSection .heroContent,
.heroSection .heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
}
.mainSection .heroContent h3,
.heroSection .heroContent h3 {
  font-size: 32px;
  margin-bottom: 40px;
}
.mainSection .heroContent .searchForm,
.heroSection .heroContent .searchForm {
  width: 100%;
  position: relative;
}
.mainSection .heroContent .searchForm input,
.heroSection .heroContent .searchForm input {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 20px;
}
.mainSection .heroContent .searchForm .searchBtn,
.heroSection .heroContent .searchForm .searchBtn {
  position: absolute;
  height: 50px;
  border-radius: 25px;
  bottom: 0;
  right: -1px;
  font-size: 20px;
  background: linear-gradient(to right, #4caf50 20%, #2196f3 80%);
  background: -ms-linear-gradient(left, #4caf50 0%, #2196f3 100%);
}
.mainSection .heroContent .searchForm .searchBtn:hover,
.heroSection .heroContent .searchForm .searchBtn:hover {
  color: black;
}
.mainSection .mainImage,
.heroSection .mainImage {
  height: 600px;
}
.mainSection .mainImage img,
.heroSection .mainImage img {
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  padding-bottom: 60px;
}
.pagination button {
  color: #fff;
  padding: 20px 160px;
  background-color: #03033f;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px;
  border: none;
  border-radius: 10px;
}
.pagination button:hover {
  background-color: #0d0d22;
}
@media only screen and (max-width: 1024px) {
  .pagination {
    flex-direction: column;
  }
  .pagination button {
    padding: 20px 0;
  }
}/*# sourceMappingURL=global.css.map */