/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

body {
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #03033f;
  transition: 0.8s;
}
header .header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  background-color: transparent;
}
header .header_content .logo img {
  width: 150px;
}
header .header_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header .header_content ul .search i {
  color: white;
  font-size: 20px;
}
header .header_content ul li {
  position: relative;
  line-height: 34px;
}
header .header_content ul li:hover .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_content ul li a {
  color: #fff;
}
header .header_content .nav_links {
  position: absolute;
  display: none;
  width: 120px;
  border-radius: 10px;
  background-color: #fff;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 0;
}
header .header_content .nav_links a {
  color: #000;
}

.card {
  width: 182px;
  height: 373px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 5px 2px rgba(180, 179, 179, 0.511);
}
.card img {
  width: 100%;
  height: calc(100% - 100px);
}
.card .card-content {
  position: relative;
  padding: 20px 15px 20px 5px;
  z-index: 0;
}
.card .card-content .precent {
  position: absolute;
  top: -20px;
  left: 12px;
  color: white;
}
.card .card-content .precent .precentColor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.card .card-content .precent h3 {
  display: flex;
  font-size: 14px;
  margin-left: 2px;
}
.card .card-content .precent h3 span {
  font-size: 8px;
  transform: translate(2px, 0px);
}
.card .card-content .precent::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
}
.card .card-content h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.card .card-content p {
  font-size: 14px;
  color: gray;
}

.PersonSection {
  margin-top: 140px;
}
.PersonSection h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}
.PersonSection .PersonCards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
.PersonSection .PersonCards .personCard {
  width: 280px;
}
.PersonSection .PersonCards .personCard img {
  -o-object-fit: cover;
     object-fit: cover;
}

.peaopleDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 50px;
  margin: 140px auto 40px;
  width: 100%;
}
.peaopleDetails .personalInfo img {
  border-radius: 20px;
  width: 400px;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
.peaopleDetails .personalInfo .knownFor,
.peaopleDetails .personalInfo .birthday,
.peaopleDetails .personalInfo .birthday {
  margin-bottom: 20px;
}
.peaopleDetails .personalInfo .knownFor h2,
.peaopleDetails .personalInfo .birthday h2,
.peaopleDetails .personalInfo .birthday h2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}
.peaopleDetails .personalInfo .knownFor h3,
.peaopleDetails .personalInfo .birthday h3,
.peaopleDetails .personalInfo .birthday h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.peaopleDetails .personalInfo .knownFor h4,
.peaopleDetails .personalInfo .birthday h4,
.peaopleDetails .personalInfo .birthday h4 {
  font-size: 18px;
  font-weight: 500;
}
.peaopleDetails img {
  width: 150px;
}
.peaopleDetails .peopleContent {
  overflow-x: hidden;
}
.peaopleDetails .peopleContent .peopleInfo h1,
.peaopleDetails .peopleContent .castSlider h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.peaopleDetails .peopleContent .peopleInfo h2,
.peaopleDetails .peopleContent .castSlider h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.peaopleDetails .peopleContent .peopleInfo p,
.peaopleDetails .peopleContent .castSlider p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.peaopleDetails .peopleContent .castSlider {
  margin-top: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.peaopleDetails .peopleContent .castSlider .casts {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.peaopleDetails .peopleContent .castSlider .casts .castCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 300px;
  text-align: center;
  color: black;
}
.peaopleDetails .peopleContent .castSlider .casts .castCard img {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
.peaopleDetails .peopleContent .castSlider .casts .castCard span {
  font-size: 12px;
  line-height: 20px;
  margin-top: 5px;
}

.videoBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  z-index: 1000;
  border-radius: 20px;
  overflow: hidden;
}
.videoBox iframe {
  width: 100%;
  height: 100%;
}

.mainSection,
.heroSection {
  position: relative;
  margin-bottom: 100px;
  height: 80vh;
}
.mainSection .mainCover,
.mainSection .heroCover,
.heroSection .mainCover,
.heroSection .heroCover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mainSection .heroCover,
.heroSection .heroCover {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainSection .overlay,
.heroSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(3, 37, 65, 0.7);
  z-index: -1;
}
.mainSection .mainContent,
.mainSection .heroContent,
.heroSection .mainContent,
.heroSection .heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100%;
  color: #fff;
}
.mainSection .mainContent h1,
.mainSection .heroContent h1,
.heroSection .mainContent h1,
.heroSection .heroContent h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.mainSection .mainContent h3,
.mainSection .heroContent h3,
.heroSection .mainContent h3,
.heroSection .heroContent h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.mainSection .mainContent .paragraph,
.mainSection .heroContent .paragraph,
.heroSection .mainContent .paragraph,
.heroSection .heroContent .paragraph {
  color: rgba(255, 255, 255, 0.404);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 600px;
}
.mainSection .mainContent button,
.mainSection .heroContent button,
.heroSection .mainContent button,
.heroSection .heroContent button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  background-color: #fb1351;
  border: none;
  padding: 17px 24px;
  gap: 5px;
}
.mainSection .heroContent,
.heroSection .heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
}
.mainSection .heroContent h3,
.heroSection .heroContent h3 {
  font-size: 32px;
  margin-bottom: 40px;
}
.mainSection .heroContent .searchForm,
.heroSection .heroContent .searchForm {
  width: 100%;
  position: relative;
}
.mainSection .heroContent .searchForm input,
.heroSection .heroContent .searchForm input {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 20px;
}
.mainSection .heroContent .searchForm .searchBtn,
.heroSection .heroContent .searchForm .searchBtn {
  position: absolute;
  height: 50px;
  border-radius: 25px;
  bottom: 0;
  right: -1px;
  font-size: 20px;
  background: linear-gradient(to right, #4caf50 20%, #2196f3 80%);
  background: -ms-linear-gradient(left, #4caf50 0%, #2196f3 100%);
}
.mainSection .heroContent .searchForm .searchBtn:hover,
.heroSection .heroContent .searchForm .searchBtn:hover {
  color: black;
}
.mainSection .mainImage,
.heroSection .mainImage {
  height: 600px;
}
.mainSection .mainImage img,
.heroSection .mainImage img {
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  padding-bottom: 60px;
}
.pagination button {
  color: #fff;
  padding: 20px 160px;
  background-color: #03033f;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px;
  border: none;
  border-radius: 10px;
}
.pagination button:hover {
  background-color: #0d0d22;
}/*# sourceMappingURL=global.css.map */