@mixin flexBox($justyfy: center, $align: center) {
  display: flex;
  justify-content: $justyfy;
  align-items: $align;
}

@mixin textContent($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: normal;
}

@mixin linearGradient {
  background: linear-gradient(
    to right,
    rgba(#4caf50, 1) 20%,
    rgba(#2196f3, 1) 80%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -moz-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
}

@mixin linearGradientHover {
  background: linear-gradient(
    to left,
    rgba(#4caf50, 1) 20%,
    rgba(#2196f3, 1) 80%
  );
  background: -webkit-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -moz-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -o-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -ms-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
}
