$l-pc: 1420px;
$pc: 1260px;
$l-tablet: 1024px;
$tablet: 800px;
$phone: 375px;
$s-phone: 360px;
$tablet-max: $tablet - 1;
$pc-max: $pc - 1;

@mixin responsive($media) {
  @if $media == l_pc {
    @media only screen and (max-width: $l-pc) {
      @content;
    }
  } @else if $media == pc {
    @media only screen and (min-width: $pc) {
      @content;
    }
  } @else if $media == l-tablet {
    @media only screen and (max-width: $l-tablet) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media == phone {
    @media only screen and (max-width: $tablet-max) {
      @content;
    }
  } @else if $media == small_phone {
    @media only screen and (max-width: $phone) {
      @content;
    }
  } @else if $media == smallest_phone {
    @media only screen and (max-width: $s-phone) {
      @content;
    }
  }
}

@mixin flexBox($justyfy: center, $align: center) {
  display: flex;
  justify-content: $justyfy;
  align-items: $align;
}

@mixin textContent($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: normal;
}

@mixin linearGradient {
  background: linear-gradient(
    to right,
    rgba(#4caf50, 1) 20%,
    rgba(#2196f3, 1) 80%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -moz-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
}

@mixin linearGradientHover {
  background: linear-gradient(
    to left,
    rgba(#4caf50, 1) 20%,
    rgba(#2196f3, 1) 80%
  );
  background: -webkit-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -moz-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -o-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
  background: -ms-linear-gradient(
    right,
    rgba(#4caf50, 1) 0%,
    rgba(#2196f3, 1) 100%
  );
}

@keyframes Slider {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@mixin Slider($scroll: 40s, $delay: 1s) {
  animation: Slider $scroll infinite $delay;
}

@mixin Absolute($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}
