// Colors

$main-bg: #0b0b0b;
$main-color: #fff;
$paragraph-color: rgba(255, 255, 255, 0.404);
$red-color: #fb1351;

// Font Weights

$semiBold-w7: 700;
$medium-w5: 500;
$regular-w4: 400;
$thin-w3: 300;

// Font Sizes

$mainHeading: 80px;
$title: 24px;
$subtitle: 20px;
$paragraph: 18px;
$buttons: 12px;
