.peaopleDetails {
  @include flexBox;
  align-items: start;
  gap: 50px;
  margin: 140px auto 40px;
  width: 100%;

  .personalInfo {
    img {
      border-radius: 20px;
      width: 400px;
      height: 520px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .knownFor,
    .birthday,
    .birthday {
      margin-bottom: 20px;

      h2 {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  img {
    width: 150px;
  }

  .peopleContent {
    overflow-x: hidden;

    .knownFor {
      font-size: 22px;
      font-weight: 700;
      margin-top: 20px;
    }

    .peopleInfo,
    .castSlider {
      h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
    }
    .castSlider {
      width: max-content;
      margin-top: 30px;

      .casts {
        @include flexBox;
        justify-content: start;
        gap: 10px;
        margin: 0;

        .castCard {
          @include flexBox;
          flex-direction: column;
          justify-content: start;
          height: 300px;
          text-align: center;
          color: black;

          img {
            border-radius: 5px;
            height: 220px;
            object-fit: cover;
          }

          span {
            font-size: 12px;
            line-height: 20px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
