.peaopleDetails {
  @include flexBox;
  align-items: start;
  gap: 50px;
  margin: 140px auto 40px;
  width: 100%;

  .personalInfo {
    .personalImage {
      position: relative;
      width: 400px;
      height: 520px;
      border-radius: 20px;
      overflow: hidden;

      img {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        transition: 0.5s;
      }

      .socials {
        @include Absolute;
        @include flexBox;
        top: 120%;
        gap: 40px;
        visibility: hidden;
        transition: 0.5s;

        i {
          font-size: 48px;
          color: $main-color;
          transition: 0.5s;

          &:hover {
            color: #70c8b0;
          }
        }
      }

      &:hover {
        .socials {
          visibility: visible;
          top: 90%;
        }

        img {
          scale: 1.05;
        }
      }
    }

    .Personal {
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .knownContent {
      display: flex;
      justify-content: start;
      gap: 40px;
    }

    .knownFor,
    .birthday {
      margin-bottom: 20px;

      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  img {
    width: 143px;
  }

  .peopleContent {
    overflow-x: hidden;

    .knownFor {
      font-size: 22px;
      font-weight: 700;
    }

    .peopleInfo {
      margin-bottom: 40px;
    }

    .peopleInfo,
    .castSlider {
      h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        position: relative;
      }

      .readMore {
        position: absolute;
        right: 0;
        bottom: -30px;
        color: gray;
        @include flexBox;
        cursor: pointer;

        &:hover {
          color: #70c8b0;
        }
      }
    }

    .sliderControl {
      margin-bottom: -10px;
    }

    .castSlider {
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      width: auto;
      margin-top: 30px;

      .casts {
        @include flexBox;
        justify-content: start;
        gap: 10px;
        margin: 0;

        .castCard {
          @include flexBox;
          flex-direction: column;
          justify-content: start;
          height: 300px;
          text-align: center;
          color: black;

          img {
            border-radius: 5px;
            height: 220px;
            object-fit: cover;
          }

          span {
            font-size: 12px;
            line-height: 20px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
