.mainSection,
.heroSection {
  position: relative;
  height: 85vh;

  .mainCover,
  .heroCover {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .heroCover {
    height: 85vh;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85vh;
    background-color: rgba(3, 37, 65, 0.7);
    z-index: -1;
  }

  .mainContent,
  .heroContent {
    @include flexBox;
    gap: 100px;
    height: 100%;
    color: $main-color;

    h1 {
      @include textContent($main-color, $mainHeading, $semiBold-w7);
      margin-bottom: 10px;
    }

    h3 {
      @include textContent($main-color, $subtitle, $medium-w5);
      margin-bottom: 20px;
    }

    .paragraph {
      @include textContent($paragraph-color, $paragraph, $medium-w5);
      margin-bottom: 20px;
      max-width: 600px;
    }

    button {
      @include flexBox;
      @include textContent($main-color, $buttons, $medium-w5);
      background-color: $red-color;
      border: none;
      padding: 17px 24px;
      gap: 5px;
    }
  }

  .heroContent {
    @include flexBox;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;

    h3 {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .searchForm {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        height: 50px;
        border-radius: 40px;
        border: none;
        outline: none;
        padding: 0 20px;
        font-size: 20px;

        &:hover {
          cursor: help;
        }
      }

      .searchBtn {
        position: absolute;
        height: 50px;
        border-radius: 25px;
        bottom: 0;
        right: -1px;
        font-size: 20px;
        @include linearGradient;

        &:hover {
          color: black;
        }
      }
    }
  }

  .mainImage {
    height: 600px;

    img {
      height: 100%;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  padding-bottom: 60px;

  button {
    color: #fff;
    padding: 20px 160px;
    background-color: #03033f;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 10px;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: #0d0d22;
    }
  }

  @include responsive(l-tablet) {
    flex-direction: column;

    button {
      padding: 20px 0;
    }
  }
}

.SearchPopup {
  display: none;
  position: fixed;
  align-items: center;
  gap: 5px;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin-left: 20px;
  transform: translateY(-80px);

  i {
    color: #03033f;
    font-size: 28px;
  }
}
