.trailerSection {
  overflow: auto;
  padding: 60px 0;

  .container {
    padding: 0;
  }
}

.trailerImage {
  width: 280px;
  height: 350px;
  object-fit: cover;
}

.trailers {
  overflow: auto;
  display: flex;
  gap: 10px;
}
